body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    background-color: #EDEDED;
}
h3{
    color: blue;
    border-bottom: 1px #929CA4;
    line-height: normal;
}
p:first-of-type::first-letter{
    font-size: 30px;
}
.solution{
    color: #CC1C0D;
    font-weight: bold;
}

#testimonial1{
    font-style:italic;
    margin-left: 50px;
}

#testimonial2{
    font-style:italic;
    margin-left: 50px;
}

ul{
    list-style: none; 
}

ul li:first-of-type{
    color: blue;
}
ul li:last-of-type{
    color: red;
}
a[href^="http"]:active{
    color: yellow;
    text-decoration: dotted;
}
a[href^="http"]:hover{
    color: aqua;
    text-decoration: double;
    font-weight: bold;
}
a[href^="http"]:visited{
    color: purple;
    text-decoration: dashed;
}

a[href^="http"]:unvisited{
    color: green;
    text-decoration: line-through;
}